@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{

}   
.banner{
    background-image: url(../assets/Hero-bg.png);
   
}
.banner-pic{
    margin: 26px 570px 40px 570px;

}
.banner-content{
    width: 70%;
    margin: auto;

}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-desc{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 15px;
}
.contact-btn{
    margin: 20px 0px 20px 360px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 18px 21px 18px 21px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

}
.why-wd{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}
.desc{
    margin-top: 15px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
.reasons{

}
.reason1{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.reason2{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    justify-content: flex-start;
    margin-top: 30px;

}
.reason3{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.reason-desc{
    margin-left: 10px;
    /* color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left; */
}
.reason-desc-head{
    margin-bottom: 15px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.reason-desc-details{
    margin-bottom: 15px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.reason-btn{
    margin-right: 530px;
    padding: 10px 16px 10px 16px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

}
.reason-btn2{
    margin-right: 560px;
    padding: 10px 16px 10px 16px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.inspiration{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}
.video{
    margin-top: 40px;
    /* box-sizing: border-box; */
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.target{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.t-elements{
    display: flex;
    justify-content: space-between;
}
.t-html{
    width: 255px;
    height: 220px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
.t-css{
    width: 255px;
    height: 220px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}
.t-js{
    width: 255px;
    height: 220px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}
.element-name{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.element-desc{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}